@import "tailwindcss";

:root {
  --header-height: 60px;
  --tabbar-height: 70px;
}

/* Ngăn chặn cuộn ngang và tối ưu cảm ứng trên mobile */
html, body {
  overflow-x: hidden;
  height: 100%;
  overscroll-behavior-y: contain; /* Ngăn chặn pull-to-refresh ngoài ý muốn */
}

/* Vùng an toàn cho nội dung trên mobile */
.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}